<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Website Coming Soon Page</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/Coming.css" />
</head>

<body>
  <section class="container">




      <!-- <img src="/sant-rampal-ji-19may19.jpg" alt="" class="image" /> -->
      <header>सेवा फॉर्म शाम 7 बजे से सुबह 6 बजे के बीच में भरे </header>
      <p>
        <a href=""></a>
      </p>

      <p>
        सेवा फॉर्म एक्टिव होने में अभी समय हैं
      </p>
      <a href="/form" id="goForm"></a>
      <div class="time-content">

        <div class="time hours">
          <span class="number"></span>
          <span class="text">hours</span>
        </div>
        <div class="time minutes">
          <span class="number"></span>
          <span class="text">minutes</span>
        </div>
        <div class="time seconds">
          <span class="number"></span>
          <span class="text">seconds</span>
        </div>
      </div>



  </section>


  <div id="foot">
    © Trivendra  2022, All Rights Reserved
</div>
  <script src="/js/Coming.js"></script>

</body>

</html>