<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/report.css" />
<style>
    b {
        color: rgb(51 0 255);
    }
</style>

<div class="h2">
    <h2>Sewa Report</h2>

</div>
<div class="container">
 <div class="box">

            <div class="content">
                <h3>
                    <a href="/admin">Admin</a>
                </h3>
                <h3>
                    <a href="/member">Member</a>
                </h3>
                <h3>
                    <a href="/report">Show Report</a>
                </h3>
                <h3>
                    <a href="/form">Sewa Form</a>
                </h3>

                <button class="btnn" style="font-size:10px" onclick="addCart(this)"">Add to Cart <i class=" fa
                    fa-shopping-cart"></i></button>
                <input type="hidden" name="prodid" value="">




                <button class="btnn" onclick="myFunction(this)">Read more</button>

            </div>


        </div>


        
        
        
    </div>
    <div class="footer" id="foot">  
            <span>
                © Trivendra  2022, All Rights Reserved
            </span> 
    </div>



<script src="/js/Script.js"></script>
