*{
  margin: 0;
  padding: 0;
}

body{
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 236, 229);
}

.box{
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  /* margin: 15px; */
  width: 100%;
  align-items: center;
height: auto;
gap: 20px;

}
a{
  text-decoration: none;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
h3,h2{
  width: 100%;
  text-align: center;
}
.head{
  width: 100%;
  align-items: center;
  display: flex;
  /* justify-content: center; */
}